.button{
  color: #fff;
  background-color: #fe5f1e;
  border-radius: 30px;
  min-width: 71px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;
}
.button:hover{
  background-color: #a0360c;
}
.button:disabled{
  background-color: #969696;
  color: white;
  border: 0;
  cursor: not-allowed
}